# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
# Virtual environments
venv_pytket/        # <— la tua venv attuale
.venv/
venv/
env/
venv*/              # copre nomi tipo venv_xxx
.env/
**/.venv/
**/venv*/
**/env/

# (paracadute, se serve)
**/lib/python*/site-packages/
**/Lib/site-packages/


# VS Code / PyCharm settings
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS junk
.DS_Store

# Results or temp files
*.csv
*.log
*.tmp
